# Archivos de sistema y entorno virtual
.venv/
venv/
__pycache__/
*.pyc

# Base de datos local (¡No subir!)
instance/
*.db
*.sqlite3

# Variables de entorno y secretos (¡SEGURIDAD!)
.env

# Archivos de IDE
.vscode/
.idea/

# Carpetas de migraciones (Opcional: A veces se suben, pero si reiniciamos mucho, mejor ignorar por ahora)
# migrations/